html *{
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
}

body {
    background: rgb(211, 210, 210);
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(249, 249, 250);
}

a:hover {
    color: rgb(0, 255, 13);
    cursor: pointer;
    font-weight: 900;
}

.boxes {
    margin: 2em;
    padding: 10px;
    border: 1em solid rgb(0, 255, 13);
    border-radius: 20px;
    width: 30em;
}

#box1 {
    background: rgb(0, 0, 255);
}

#box2 {
    background: rgb(0, 0, 185);
}

#box3 {
    background: rgb(1, 1, 138);
}

#box4 {
    background: rgb(0, 0, 36);
}

.images {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(0, 255, 13);
    position: absolute;
    left: 10em;
}

